@model string
@{ 
// TODO: ErrorViewModel
}
<h1>Delete task error</h1>

<h4>Delete task error</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @Model
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>